# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.venv/
.env

# Logs
logs/
*.log

# Ignore only EnergyPlus simulation output folder
data/intermediate/simulation_outputs/

# Keep edited IDFs
!data/intermediate/perturbed_idf/
!data/intermediate/perturbed_idf/**/*.idf